.btn{
  @include adaptive-value('font-size', 12, 10, 0);
  border-radius: 5px;
  background-color: #c70101;
  padding: 10px 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover{
    background-color: lighten(#c70101, 10%)
  }
}
.main__content-btn{
  @include adaptive-value('font-size', 16, 13, 0);
  margin-top: 55px;
  padding: 18px 41px; 
  display: block;
}
.form__body-btn{
  margin-top: 10px;
  padding: 20px 40px;
  margin-left: 10px;
  text-transform: uppercase;
  @include adaptive-value('font-size', 16, 13, 0);
}