.title{
  text-align: center;
  text-transform: uppercase;
  color: #0d0d0d;
  font-weight: 700;
  @include adaptive-value('font-size', 30, 24, 0);
  @include adaptive-value('padding-top', 62, 31, 0);
}
.main__content-title{
  @include adaptive-value('font-size', 41, 30, 0);
  color: #fff;
  margin-top: 30px;
  padding-top: 0;
}
.features__title{
  margin-left: 40px;
}
.form__title{
  text-align: left;
  @include adaptive-value('font-size', 36, 27, 0);
  @include adaptive-value('padding-top', 95, 31, 0);
  margin-left: 10px;
  max-width: 800px;
  color: #fff;
}
@media(max-width:991px){
  .features__title{
    margin-left: 0px;
  }
  .form__title{
    margin-left: 0px;
  }
}